header {
    background-color: rgb(36, 33, 33);
    width: 100%;
    padding: 5px;
    position: relative;
    height: 50px;
    top: -8px;
    left: -8px;
}

.logo {
    width: 5%;
    display: inline;
    left: 0px;
}

.hed1 h1 {
    font-family: arial;
    text-align: center;
    position: relative;
    color: white;
    width: 100%;
    padding: 10px;
    top: -22px;
    left: -8px;
    z-index: 1;
    display: inline-block;

}

header .date {
    font-family: arial;
    position: absolute;
    color: white;
    top: 10px;
    width: 100%;
    left: 92%;
    padding: 10px;
    border: 2px white solid;
    border-top: none;
    border-bottom: none;
    text-align: center;
    display: inline-flex;
}