.content1 {
    font-family: arial;
    font-size: 15px;
    position: relative;
    background-color: beige;
    padding: 7px;
    left: -7px;
}

.personal .hed2_1,
.hed2_2,
.hed2_3 {
    background-color: rgb(6, 51, 81);
    color: white;
    position: relative;
    padding: 2px;
    left: -8px;
}