body{
    margin:0;
    padding:0;
}
.content1 {
    font-family: arial;
    font-size: 15px;
    position: relative;
    background-color: beige;
    padding:5px;
}

.personal .hed2_1,
.hed2_2,
.hed2_3 {
    background-color: rgb(6, 51, 81);
    color: white;
    position: relative;
    padding: 2px;
    width:100%;
}